<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<CustomLevels>
    <CustomLevel name="SECURITY" intLevel="50" />
    <CustomLevel name="CONFIG" intLevel="430" />
    <CustomLevel name="FINE" intLevel="460" />
</CustomLevels>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss.SSS z} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingFile name="File" fileName="./logs/rtWebSchema.log" filePattern="./logs/rtWeb_%d{yyyyMMdd}.%i.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="7" />
        <SizeBasedTriggeringPolicy size="1 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20" />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="FINE">
      <!-- AppenderRef ref="Console"/ -->
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>